h1 {
    color: white;
    text-align: center;
    background-color: dimgrey;
    padding: 20px;

}


body {
    font-family: Arial, sans-serif;
    background-color: whitesmoke;
    margin: 0;
    height: 100vh;
}

.buttonContainer{
    display: flex;
    flex-wrap: wrap;
    outline: auto;    
    padding: 2%;
}


.mainContainer{
    margin-left: 2%;
    margin-right: 35%;
}

.box{
    margin:2%;
}


.selectBox{
    font-size: 14px;
    font-weight: 550;
    color:aliceblue;
    margin-right: 45%;
    width: auto;
    min-width: 150px;  
    max-width: 90vw;
    max-height: 300px;
    background-color:darkslategray;
    padding: 20px;
    border-radius: 10px;
    overflow: auto;
}
   

/* 
.hiddenBusquedaId{
    display: none;
}

.hiddenBusquedaNombre{
    display: none;
} 

*/

.hidden{
    display: none;
}

button{
    background-color: dimgrey;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 550;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

button:active{
    background-color: rgb(63, 99, 99);
    padding: 11.5px 23.5px;
}


.ApiButton{
    background-color: dimgrey;
    color: white;
    border: none;
    padding: 12px 24px;
    font-size: 14px;
    font-weight: 550;
    border-radius: 10px;
    cursor: pointer;
    transition: all 0.2s ease;
}

.ApiButton:active{
    background-color: rgb(63, 99, 99);
    padding: 11.5px 23.5px;
}

input{
    background-color: darkslategrey;
}

select{
    color: aliceblue;
    background-color:  dimgrey;
}
